<!--header-->
<header class="header">
    <section class="container">
        <a href="#mmenu" class="glyphicon glyphicon-list phone-nav"></a>
    </section>  
    <div class="container clearfix">
        <div class="logo pull-left" style="width:80px; height: 80px;"><a href="/"><img src="/media/images/logo.png" alt=""  /></a></div>
        <nav class="nav pull-left">
            <ul>
                <li class="active"><a href="/">首页</a></li>
                <li><a href="/introduction">产品介绍</a></li>
                <li><a href="/updatelog">更新记录</a></li>
                <li><a href="/contact">联系我们</a></li>
            </ul>
        </nav>
    
    </div>
</header>

<!--移动端  Mmenu-->
<nav id="mmenu">
    <ul>
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/introduction">产品介绍</a></li>
        <li><a href="/updatelog">更新记录</a></li>
        <li><a href="/contact">联系我们</a></li>
    </ul>
</nav>