{% extends "base-main.html" %}
{% block banner %}
<!--banner-->
<section class="banner">
    <div class="banner_bg">
         <a></a>
   </div>

</section>
{% endblock %}

{% block content %}
 <div  class="download-text">
        <h1>NovalIDE</h1>
        <h3>集编辑调试运行一体的开源、跨平台、轻便的国产多功能Python IDE</h3>
        <h3>下载<i>{{download_count}}</i>次</h3>
   <div class="btns">
       <button class="window" onclick="javascrtpt:window.location.href='http://www.novalide.com/member/download_app?lang=zh_cn&amp;os_name=win32'"><i class="iconfont icon-windows">windows版</i></button>
       <button class="linux"onclick="javascrtpt:window.location.href='http://www.novalide.com/member/download_app?lang=zh_cn&amp;os_name=linux'"><i class="iconfont icon-linux"></i>linux版</button>
       <button onclick="javascrtpt:window.location.href='https://gitee.com/wekay/NovalIDE'"> 码云开发地址</button>
   </div>
</div>

{% endblock %}
{% block information %}
<!--首页关于我们-->
<div class="syabout">
	<div class="container">
		<div class="syaredbg">
			<div class="syawhitebg">
				<div class="syaleft pull-left fadeInLeft wow">
					<div class="pic"><img class="vcenter" src="/media/images/tt.png" alt="" /></div>
				</div>
				<div class="syaright pull-right fadeInRight wow">
					<h3> PRODUCT INTRODUCTION</h3>
					<b>产品介绍</b>
					<span></span>
					<p>NovalIDE是一款国产、开源、跨平台、免费而且轻便的Python IDE，<br/>
有丰富的语法高亮功能，支持Python、C/C++、HTML、JavaScript、XML、CSS等多种开发语言，能够自动检测，加载并允许用户自由添加和删除Python解释器。<br/>
并选择相应的解释器运行脚本，支持函数智能提示和代码自动完成， <br/>
以及新建和管理工程，支持断点调试，并能监视，查看变量以及堆栈变化。 <br/>
强大的包管理器，能通过pip一键式安装卸载Python包，
纯中文界面，可以切换中英文2个语言版本，
提供开放式接口支持程序员开发自定义插件，支持运行Python2.6,2.7和3.x版本，并可以在不同版本之间进行切换。

					</p>
					<a href="introduction.html">→查看详细</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block detail_content %}
<!--资讯-->
<div class="synews">
	<div class="container">
		<div class="sytit-wrap fadeInDown wow">
			<div class="sytit">
				<div class="sytitwrap">
					<h3>资讯</h3>
					<b>INFORMATION</b>
				</div>
			</div>
			<p>完全遵循中国程序员的开发习惯，每个产品细节设计，按钮，都考虑到程序员的使用体验，打造最完美的用户体验<br/>
			采用当前最流行的Python开发技术，全模块化构建项目。全采用自己编写的插件，技术可控，参考其它优秀IDE的设计，集众之所长。
			</p>
		</div>
		<ul>
			<li class="clearfix">
				<div class="pic pull-left fadeInLeft wow">
					<a><img class="vcenter" src="/media/images/synews.jpg" alt="" /></a>
				</div>
				<div class="syntxt pull-right fadeInRight wow">
					
					<a class="ntit" >炫酷的代码高亮模式</a>
					<p>支持多种语言语法解析，灵活定义配色方案。采用当前最流行的Python开发技术，全模块化构建项目。全采用自己编写的插件，技术可控，参考其它优秀IDE的设计，集众之所长</p>
				
				</div>
			</li>
			<li class="clearfix">
				<div class="pic pull-right fadeInRight wow">
					<a href="news-show.html"><img class="vcenter" src="/media/images/synews2.jpg" alt="" /></a>
				</div>
				<div class="syntxt pull-left fadeInLeft wow">
	
					<a class="ntit" href="news-show.html">插件式开发</a>
					<p>包含20多种专门为编辑设计开发的插件，方便二次开发。采用当前最流行的Python开发技术，全模块化构建项目。全采用自己编写的插件，技术可控，参考其它优秀IDE的设计，集众之所长</p>
				
				</div>
			</li>
				<li class="clearfix">
				<div class="pic pull-left fadeInLeft wow">
					<a><img class="vcenter" src="/media/images/synews3.jpg" alt="" /></a>
				</div>
				<div class="syntxt pull-right fadeInRight wow">
					
					<a class="ntit" >免费轻便及跨平台特性</a>
					<p>nsis打包压缩， 大小不足12M，功能强，永久免费而且支持跨平台。采用当前最流行的Python开发技术，全模块化构建项目。全采用自己编写的插件，技术可控，参考其它优秀IDE的设计，集众之所长</p>
				
				</div>
			</li>
			<li class="clearfix">
				<div class="pic pull-right fadeInRight wow">
					<a href="news-show.html"><img class="vcenter" src="/media/images/synews4.jpg" alt="" /></a>
				</div>
				<div class="syntxt pull-left fadeInLeft wow">
	
					<a class="ntit" href="news-show.html">超强的包管理器</a>
					<p>使用pip工具一键式安装和卸载Python第三方包，省时省力。采用当前最流行的Python开发技术，全模块化构建项目。全采用自己编写的插件，技术可控，参考其它优秀IDE的设计，集众之所长</p>
				
				</div>
			</li>
				<li class="clearfix">
				<div class="pic pull-left fadeInLeft wow">
					<a><img class="vcenter" src="/media/images/synews5.png" alt="" /></a>
				</div>
				<div class="syntxt pull-right fadeInRight wow">
					
					<a class="ntit" >丰富的智能提示</a>
					<p>使用先进的代码解析器智能分析Python代码，强大的联想功能，让开发者事半功倍。采用当前最流行的Python开发技术，全模块化构建项目。全采用自己编写的插件，技术可控，参考其它优秀IDE的设计，集众之所长</p>
				
				</div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}


{% block javascript_includes %}
<script type="text/javascript" src="/media/js/wow.min.js" ></script>
<script src="/media/js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block javascript_init %}
<script>
	if (getIEVersion() !== "IE8") {
	  		new WOW().init();
	  	};
</script>
<!--slick-->
<script type="text/javascript">
	    $(function(){
		    $('.banner').slick({
		        dots: true,
		        autoplay:true,
		        arrows:false,
		        autoplaySpeed:3000,
		    });
		});
</script>

<!--placeholder-->
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>
{% endblock %}
</body>
</html>
